.about__content {
  position: relative;
  margin: 20rem 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.about__content_wrapper {
}
.about__content_label {
}
.about__content__description {
}

.about__content_media {
}
.about__content_media_img {
}
