.about__content {
  position: relative;
  margin: 20rem auto;
  width: 125.8rem;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.about__content_wrapper {
}
.about__content_label {
  width: 18rem;
}
.about__content__description {
  width: 36.2;
}

.about__content_media {
  position: absolute;
}
.about__content_media_img {
}
