.about__gallery {
  height: 58.6rem;
  position: relative;
  margin: 20rem 0;
  pointer-events: none;
  overflow: hidden;
  visibility: hidden;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.about__gallery_wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.about__gallery_media {
  position: relative;
  height: 43.7rem;
  width: 38.9rem;
  margin: 0 4rem;
}
.about__gallery_media_img {
  @extend %cover;
  object-fit: cover;
}
