.detail {
  @extend %cover;
  @extend %center;

  background: $color-quicksand;
  color: $color-white;

  @include media("<phone") {
    height: auto;
  }
}

.detail__wrapper {
  display: flex;
  align-items: center;

  @include media("<phone") {
    display: block;
    width: 66.1rem;
    margin: auto;
    padding: 15rem 0 31.5rem;
  }
}

.detail__media {
  width: 55.4rem;
  height: 78.2rem;
  position: relative;

  @include media("<phone") {
    width: 100%;
    height: 93.4rem;
    margin: 0 auto 7.8rem;
  }
}

.detail__media_image {
  @extend %cover;
  object-fit: cover;
}
.detail__information {
  padding-left: 8.2rem;

  @include media("<phone") {
    padding-left: 0;
  }
}

.detail__information_collection {
  @extend %description-12;

  text-transform: uppercase;
  margin-bottom: 4rem;
}

.detail__information_title {
  @extend %title-120;
  max-width: 60rem;
}

.detail__information_content {
  padding-left: 10rem;

  @include media("<phone") {
    padding-left: 0;
  }
}

.detail__information_highlights {
  margin-top: 6rem;
}

.detail__information_highlight {
  display: flex;
  align-items: center;
  &:not(:first-child) {
    margin-top: 4rem;
  }
}
.detail__information_highlight_icon {
  width: 4rem;
  height: 4rem;
  border: 1px solid currentColor;
  border-radius: 50%;
  margin-right: 4rem;

  @include media("<phone") {
    height: 9.2rem;
    width: 9.2rem;
    margin-right: 5.8rem;
  }
}

.detail__information_highlight_text {
  @extend %description-16;
}

.detail__information_list {
  margin-top: 4rem;
}

.detail__information_item {
  display: flex;

  &:not(:first-child) {
    margin-top: 4rem;
  }
}
.detail__information_item_title {
  @extend %description-12;
  padding-right: 2.5rem;
  width: 10rem;

  @include media("<phone") {
    width: 15rem;
    padding-right: 5rem;
  }
}
.detail__information_item_description {
  @extend %description-16;
  letter-spacing: 0.03rem;
  max-width: 44rem;
}

.detail__information_link {
  @extend %title-30;
  display: inline-block;
  margin-top: 3rem;

  @include media("<phone") {
  }
}

.detail__button {
  height: 6rem;
  width: 12.8rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  @include media("<phone") {
    width: 26.8rem;
    height: 13rem;
    font-size: 3rem;
    bottom: 12rem;
  }
}

.details__button__icon {
  @extend %cover;
}
