.collections {
  @extend %page;

  background: $color-quicksand;
  color: $color-quarter-spanish-white;
}
.collections__wrapper {
  @extend %cover;
  overflow: hidden;
}
.collections__titles {
  @extend %vertical__titles;

  @include media("<phone") {
    display: none;
  }
}
.collections__title_label {
  @extend %vertical__title_label;
}
.collections__titles_title {
  @extend %vertical__titles_title;
}
.collections__gallery {
  @extend %cover;
}
.collections__gallery_wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.collections__gallery_link {
  display: block;
  margin: 0 5.3rem;
}
.collections__gallery_media {
  width: 44.7rem;
  height: 63.1rem;
  position: relative;
}
.collections__gallery_media_image {
  @extend %cover;
  object-fit: cover;
}
.collections__content {
  @extend %cover;

  @include media("<phone") {
    display: none;
  }
}

.collections__article {
  position: absolute;
  left: 8rem;
  bottom: 8rem;
  opacity: 0;
  &--active {
    opacity: 1;
  }
}
.collections__article_title {
  @extend %title-60;
}
.collections__article_description {
  @extend %description-16;
  max-width: 44rem;
}

.collections__mobile {
  display: flex;
  position: absolute;
  bottom: 5rem;
}
.collections__mobile_item {
  padding-left: 5rem;
  width: 100vw;
}
.collections__mobile_item_label {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.collections__mobile_item_title {
  font-family: $font-george-x;
  font-size: 12rem;
}
