.home {
  @extend %center;
  @extend %page;

  text-align: center;
  background: $color-contessa;
  color: $color-white;
  font-weight: normal;
  overflow: hidden;
  &:before,
  &:after {
    content: "";
    height: 24rem;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
  }
  &:before {
    top: 0;
    background: linear-gradient(
      to bottom,
      $color-contessa 0%,
      rgba($color-contessa, 0) 100%
    );
  }
  &:after {
    bottom: 0;
    background: linear-gradient(
      to top,
      $color-contessa 0%,
      rgba($color-contessa, 0) 100%
    );
  }
}
.home__wrapper {
}

.home__titles {
  @extend %vertical__titles;
}
.home__title_label {
  @extend %vertical__title_label;
}
.home__titles_title {
  @extend %vertical__titles_title;
}

.home__gallery {
  @extend %cover;
  visibility: hidden;
}
.home__gallery_media {
  position: absolute;
}
.home__gallery_media_image {
}
.home__link {
  @extend %description-14;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 28.8rem;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  letter-spacing: 0.05;
  z-index: 2;

  @include media("<phone") {
    bottom: 7.5rem;
    width: 55rem;
    height: 13.7rem;
  }
}
.home__link__icon {
  @extend %cover;
}
